# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
**/*.xcuserstate
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
**/.DS_Store

# CocoaPods
Pods/

# Claude Code internals
.claude/
.tldr/
.tldrignore
